
.typing_effect {
    font-size: 2rem;
    font-family: monospace;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(17) infinite, border 1s infinite ease-in-out;
 }

 @keyframes border {
    0% {
       border-right-color: rgba(0, 0, 0, 0.75);

    }

    100% {
       border-right-color: transparent ;

    }
 }

 @keyframes typing {

    0%,
    100% {
       width: 0;
    }

    50%,
    90% {
       width: 270px;
    }
 }
